# Q1

In [2]:
def maximum(a, b, c):
    if a>=b and b>=c:
        return(a)
    elif b>=c and c>=a:
        return(b)
    else:
        return(c)
maxi = maximum(189263,63912, 8639)
maxi

189263

# Q2

In [8]:
def calculation(a, b):
    return a+b, a-b
calc = calculation(10, 20)
calc

(30, -10)

# Q3(1)

In [19]:
def sumlist(liste):
    s = 0
    for i in range (len(liste)):
        s = liste[i] + s
    return s
s = sumlist([45, 46, 20])
s

111

# Q3(2)

In [20]:
def prodlist(liste):
    p = 1
    for i in range (len(liste)):
        p = liste[i] * p
    return p
p = prodlist([45, 46, 20])
p

41400

# Q3(3)

In [27]:
def thirdfct(liste):
    pair = []
    impair = []
    for i in range (len(liste)):
        if i%2 == 0:
            pair.append (liste[i])
        else:
            impair.append (liste[i])
    return sumlist(pair), prodlist(impair)
t = thirdfct([45, 46, 20, 100, 34])
t

(99, 4600)

# Q4

In [49]:
def hyphensort(str):
    str = input("Entrez des mots séparés par un trait d'union :").split('-')
    str.sort()
    return '-'.join(str)
hyphensort(str)

Entrez des mots séparés par un trait d'union :-fdv-d-vds-vw-vbf-g

'-d-fdv-g-vbf-vds-vw'

# Q5

In [ ]:
import math
def formule():
    D = input("Entrez 3 valeurs de D séparées par une virgule : ").split(',')
    s = []
    for i in D:
        Q = round(math.sqrt((2*50*int(i)/30)))
        s.append(Q)
    return s
formule()